.choice-button {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  font-size: 16px;
  min-width: 100%;
}
.correct {
  background-color: #66bf39;
  color: #fff;
  border: none;
}

.wrong {
  background-color: #ef4953;
  color: #fff;
  border: none;
}
