.choice-button {
  background-color: #fff;
  border: #000 1px solid;
  border-radius: 5px;
  padding: 10px 0;
  cursor: pointer;
  font-size: 18px;
  width: 100%;
}
.correct {
  background-color: blue;
  color: #fff;
  border: none;
}

.wrong {
  background-color: red;
  color: #fff;
  border: none;
}
