.score {
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  font-family: "Open Sans", sans-serif;
}
.question {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
}
.question-number {
  margin: 10px 0;
  font-family: "Open Sans", sans-serif;
}
