.choices-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  min-width: 500px;
}
.center {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .choices-container {
    grid-template-columns: 1fr;
    min-width: 300px;
    margin-bottom: 20px;
  }
}
