@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Open+Sans&display=swap");
body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f2f2f2;
}

.heading-primary {
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-weight: 700;
}

.heading-secondary {
  font-family: "Open Sans", serif;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.button-next {
  background-color: #1368ce;
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
}
